.dashboard {
    background-color: white !important;
    /* Sobrescribe el background de sección */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.projectsTable {
    width: 100%;
    border-collapse: collapse;
}

.projectsTable th,
.projectsTable td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.projectsTable th {
    background-color: var(--light-gray-color);
    font-weight: bold;
}

.projectsTable td img {
    border-radius: 4px;
}

.actions {
    display: flex;
    gap: 0.5rem;
}