/* Definimos el nuevo universo futurista */
:root {
    --background-dark: #0A0A0A;
    --glass-bg: rgba(20, 20, 20, 0.5);
    /* El fondo de nuestras tarjetas de cristal */
    --border-glass: rgba(255, 255, 255, 0.1);
    --text-primary: #EAEAEA;
    --text-title: #FFFFFF;
    --accent-insane: #9F00FF;
    --glow-color: rgba(159, 0, 255, 0.7);

    --font-family-body: 'Inter', sans-serif;
    --font-family-heading: 'Poppins', sans-serif;
    --font-family-mono: 'Source Code Pro', monospace;
    /* Nuestra nueva fuente tech */

    --container-width: 1140px;
    --header-height: 80px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    font-family: var(--font-family-body);
    background-color: var(--background-dark);
    color: var(--text-primary);
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(-45deg, #0a0a0a, #1a0b24, #0a0a0a, #0c0a1f);
    background-size: 400% 400%;
    animation: gradient-animation 15s ease infinite;
}

main {
    padding-top: var(--header-height);
}

/* Tipografía y Títulos */
h1,
h2,
h3,
h4 {
    font-family: var(--font-family-heading);
    color: var(--text-title);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow: 0 0 10px var(--glow-color);
}

h1 {
    font-size: clamp(2.5rem, 5vw, 4.5rem);
}

h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    text-align: center;
    margin-bottom: 3rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    max-width: 65ch;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 5rem 2rem;
}